flask==1.1.2
redis==3.5.3
Jinja2==2.10.1
Flask-Session==0.3.1
Flask-Migrate==2.6.0
Flask-Login==0.2.11
python-json-logger==0.1.11
python-dotenv==0.14.0
pyyaml==5.3.1
werkzeug==2.0.3
flask_httpauth
pymysql
Flask-SQLAlchemy
Flask-WTF
Flask-Script
WTForms==2.0.1

