ENVIRONMENT=testing
FLASK_APP=manage.py
SECRET_KEY=testingtfu&+h9c!cz(fp1d-)vyk642p&c^z^$1bs!_85=499i6_&v!g_secret
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@127.0.0.1:3306/mydb_testing?charset=utf8mb4
EMAIL_DIGIT_CODE_PREFIX = "testing_email_digit_code_"
